*.o
x16emu
x16emu.exe
x16emu_mac.zip
x16emu_win.zip
rom_labels.h
rom.bin
chargen.bin
.vscode/
.idea/
x16emu.data
x16emu.html
x16emu.html.mem
x16emu.js
x16emu.wasm
x16emu.worker.js

xcode/Frameworks/SDL/Xcode-iOS/Test/Info.plist
xcode/Frameworks/SDL/Xcode-iOS/Test/README
xcode/Frameworks/SDL/Xcode-iOS/Test/TestiPhoneOS.xcodeproj/project.pbxproj
xcode/Frameworks/SDL/Xcode/SDL/Info-Framework.plist
xcode/Frameworks/SDL/Xcode/SDL/pkg-support/SDL.info
xcode/Frameworks/SDL/Xcode/SDL/pkg-support/sdl_logo.pdf
xcode/Frameworks/SDL/Xcode/SDL/pkg-support/resources/License.txt
xcode/Frameworks/SDL/Xcode/SDL/pkg-support/resources/ReadMe.txt
xcode/Frameworks/SDL/Xcode/SDL/pkg-support/resources/SDL_DS_Store
xcode/Frameworks/SDL/Xcode/SDL/SDL.xcodeproj/project.pbxproj
xcode/Frameworks/SDL/Xcode/SDLTest/TestDropFile-Info.plist
xcode/Frameworks/SDL/Xcode/SDLTest/SDLTest.xcodeproj/project.pbxproj
xcode/Frameworks/SDL/Xcode/XcodeDocSet/Doxyfile
xcode/X16/__MACOSX/JoyStickView/._JoyStickView.xcodeproj
xcode/X16/__MACOSX/JoyStickView/JoyStickViewTests/._JoyStickViewMonitorTests.swift
xcode/X16/__MACOSX/JoyStickView/JoyStickViewTests/._JoyStickViewTests.swift
xcode/X16/__MACOSX/JoyStickView/Resources/._Info.plist
xcode/X16/__MACOSX/JoyStickView/Src/._CoreGraphics+Additions.swift
xcode/X16/__MACOSX/JoyStickView/Src/._JoyStickView.h
xcode/X16/__MACOSX/JoyStickView/Src/._JoyStickView.swift
xcode/X16/__MACOSX/JoyStickView/Src/._JoyStickViewMonitor.swift
xcode/X16/__MACOSX/SDL/include/._SDL_config_iphoneos.h
xcode/X16/__MACOSX/SDL/include/._SDL_events.h
xcode/X16/__MACOSX/SDL/include/._SDL_gesture.h
xcode/X16/__MACOSX/SDL/include/._SDL_main.h
xcode/X16/__MACOSX/SDL/include/._SDL_platform.h
xcode/X16/__MACOSX/SDL/include/._SDL_scancode.h
xcode/X16/__MACOSX/SDL/include/._SDL_stdinc.h
xcode/X16/__MACOSX/SDL/include/._SDL_touch.h
xcode/X16/__MACOSX/SDL/src/._SDL.c
xcode/X16/__MACOSX/SDL/src/audio/._SDL_audio.c
xcode/X16/__MACOSX/SDL/src/audio/._SDL_audiocvt.c
xcode/X16/__MACOSX/SDL/src/events/._SDL_dropevents.c
xcode/X16/__MACOSX/SDL/src/events/._SDL_dropevents_c.h
xcode/X16/__MACOSX/SDL/src/events/._SDL_events_c.h
xcode/X16/__MACOSX/SDL/src/events/._SDL_gesture.c
xcode/X16/__MACOSX/SDL/src/events/._SDL_gesture_c.h
xcode/X16/__MACOSX/SDL/src/events/._SDL_keyboard.c
xcode/X16/__MACOSX/SDL/src/events/._SDL_keyboard_c.h
xcode/X16/__MACOSX/SDL/src/hidapi/testgui/._TestGUI.app.in
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitappdelegate.h
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitappdelegate.m
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitclipboard.h
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitevents.m
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitviewcontroller.h
xcode/X16/__MACOSX/SDL/src/video/uikit/._SDL_uikitviewcontroller.m
xcode/X16/__MACOSX/SDL/Xcode-iOS/Demos/._Demos.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode-iOS/SDL/._SDL.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode-iOS/SDLtest/._SDL2test.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode-iOS/Template/SDL iOS Application/.____PROJECTNAME___.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode-iOS/Test/._TestiPhoneOS.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode/SDL/._SDL.xcodeproj
xcode/X16/__MACOSX/SDL/Xcode/SDLTest/._SDLTest.xcodeproj
