dist: bionic
sudo: required
language: c

matrix:
  include:
    - name: Linux
      os: linux
      addons:
        apt:
          packages:
            - libsdl2-dev
      compiler: gcc
      script: make clean all
    - name: macOS
      os: osx
      osx_image: xcode11
      addons:
        homebrew:
          packages:
            - sdl2
          update: true
      script: make clean all
    - name: Windows (macOS cross-compilation)
      os: osx
      osx_image: xcode11
      addons:
        homebrew:
          packages:
            - mingw-w64
          update: true
      before_script:
        - mkdir -p /tmp/sdl2
        - wget https://www.libsdl.org/release/SDL2-devel-2.0.10-mingw.tar.gz
        - tar -xf SDL2-devel-2.0.10-mingw.tar.gz -C /tmp/sdl2
        - sudo mkdir -p /opt/local
        - sudo chmod 777 /opt/local
        - cp -r /tmp/sdl2/SDL2-2.0.10/* /opt/local/
      script: CROSS_COMPILE_WINDOWS=1 make WIN_SDL2=/opt/local/i686-w64-mingw32 clean all
    - name: Check editorconfig style
      language: python
      script:
        - python -m pip install editorconfig-checker
        - editorconfig-checker -exclude "\\.xcf$"
    - name: WebAssembly
      os: linux
      addons:
        apt:
          packages:
            - libsdl2-dev
      services:
        - docker
      before_install:
        - wget https://github.com/commanderx16/x16-emulator/releases/download/r32/x16emu_linux-r32.zip
        - unzip x16emu_linux-r32.zip
        - docker run -dit --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit bash
      script:
        - docker exec -it emscripten make wasm
